# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env.local

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/(admin)
/app/(admin1)
/app/(routes)/(user)/about
/app/(routes)/(user)/achievements
/app/(routes)/(user)/api
/app/(routes)/(user)/apeal
/app/(routes)/(user)/complaints-procedure
/app/(routes)/(user)/contact-us
/app/(routes)/(user)/donation
/app/(routes)/(user)/gallary
/app/(routes)/(user)/newss



/components
/public
